/**
 * @description LWC Component used to display the vaulted documents from the DocumentCheckList Item.
 *
 * @author Accenture
 *
 * @see storyNo: 146010
 *
 * @date July 2021
 */

.record-per-page {
    width: 5rem;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    position: relative;
    right: -1rem;
}

.customModal {
    max-width: 70rem !important;
    width: 70% !important;
}

.spinner-medium::after {
    color: #483D8B;
    content: attr(data-text);
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: calc(50% + 2em);
    width: 100%;
}

.required-field:before {
    color: #FF0000;
    content: "*";
}

.datatable-orange {
    /*--lwc-colorBackgroundRowSelected: rgb(103, 231, 156);*/
    background-color: #E06000;
}

.portal-card {
    margin: auto 15%;
}