.script-action-container{
    width:100%; 
    height:auto; 
    margin-top: 15px;
    margin-bottom: 7px;
    display: flex
}

.icon-color{
    --sds-c-icon-color-foreground-default: #54698d;
}

.scrip-action-text-container{
    font-size:.6em; 
    padding-left: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .script-action-heading{
    font-weight: bold; 
    font-size: 14px;
} */

.script-action-content{
    font-weight: normal; 
    font-size: 14px;
}

.copy-button-container{
    padding-left: 25px; 
    padding-bottom: 5px;
}