.slds-modal__content {
    overflow: initial;
}

.goal-percentage {
    position: absolute;
    margin: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.align-right {
    text-align: right;
}